console.log('views/layout.hbs');

<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script type="text/javascript" src="/javascripts/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="/javascripts/underscore.js"></script>
    <script type="text/javascript" src="/javascripts/backbone.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/views.js"></script>
    <script type="text/javascript" src="/javascripts/models.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
