console.log('views/register.hbs');

<h1>{{title}}</h1>
<div>
  <form action= '/users' method="post">
    <h2> Become a Warbler </h2>
    Username
    <br><input name='username'></input> <br>
    Password
    <br><input type='password' name='password'></input> <br>
    Bio
    <br><input type='text' name='bio'></input> <br>
    <input type='submit' value='Register' id='registerBtn'>
  </form>
</div>
<form action = "/" method="get">
  <input type='submit' value = 'Go back to Login'>
</form>
